@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar{
    @apply w-4 bg-[#000]
    }
    ::-webkit-scrollbar-thumb{
    @apply rounded-lg bg-[#0d3869] hover:bg-[#1e5a88] /*color trackbar*/
    }
    html {
      -webkit-tap-highlight-color: transparent;
    }
}

@font-face {
    font-family: 'Anurati';
    src: url('../public/fonts/Anurati-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.anuratiFont {
    font-family: 'Anurati';
    font-style: normal;
}

.loader {
    display: flex;
    align-items: center;
}

.bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}

.bar:nth-child(3) {
    animation-delay: .5s;
}

@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}