@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar{
    @apply w-4 bg-[#000]
    }
    ::-webkit-scrollbar-thumb{
    @apply rounded-lg bg-[#0d3869] hover:bg-[#1e5a88] /*color trackbar*/
    }
    html {
      -webkit-tap-highlight-color: transparent;
    }
}

@font-face {
    font-family: 'Anurati';
    src: url('../public/fonts/Anurati-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.anuratiFont {
    font-family: 'Anurati';
    font-style: normal;
}

.glass-card {
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(1rem);
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}